.Console-input {
    margin-top: 0.5em;
}

.Console-input-line {
    display: flex;
    width: 100%;
}

.Console-input-input, .Console-input-input:focus {
    appearance: none;
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    overflow-wrap: anywhere;
    flex-grow: 1;
}